@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --background-tooltip: #323436;
    --background-50: #00000005;
    --background-100: #868e991a;
    --background-200: #e4e6eb;

    --foreground: 0 0% 20%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --modal: rgb(255, 255, 255);
    --modal-overplay: rgba(0, 0, 0, 0.6);
    --modal-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: #fd5b1d;
    --primary-50: #fff7ed;
    --primary-100: #feead1;
    --primary-200: #fed0a4;
    --primary-300: #feaf77;
    --primary-400: #fd8f55;
    --primary-500: #fd5b1d;
    --primary-600: #d93e15;
    --primary-700: #b6250e;
    --primary-800: #921209;
    --primary-900: #790505;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-background: 0 0% 96.1%;
    --secondary-foreground: 0 0% 48%;

    --accent: 0 0% 88%;
    --accent-secondary: 0 0% 80%;
    --accent-background: 0 0% 6%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: rgb(20, 21, 23);
    --background-tooltip: #ffffff;
    --background-50: #00000005;
    --background-100: #868e991a;
    --background-200: #e4e6eb;

    --foreground: 0 0% 88%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 88%;

    --modal: rgb(26, 27, 30);
    --modal-overplay: rgba(0, 0, 0, 0.6);

    --modal-foreground: 0 0% 3.9%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 88%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;

    --primary: #fd5b1d;
    --primary-50: #fff7ed;
    --primary-100: #feead1;
    --primary-200: #fed0a4;
    --primary-300: #feaf77;
    --primary-400: #fd8f55;
    --primary-500: #fd5b1d;
    --primary-600: #d93e15;
    --primary-700: #b6250e;
    --primary-800: #921209;
    --primary-900: #790505;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 25%;
    --secondary-background: 0 0% 10%;
    --secondary-foreground: 0 0% 70%;

    --accent: 0 0% 10%;
    --accent-secondary: 0 0% 36%;
    --accent-background: 0 0% 100%;
    --accent-foreground: 0 0% 70%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  text-shadow {
    text-shadow: #000 1px 0 10px;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 20;
  }
  50% {
    opacity: 1;
    z-index: 20;
    transform: scale(1);
  }
  60% {
    opacity: 0.5;
    z-index: 20;
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
    z-index: 1;
  }
}

@keyframes goUp {
  0% {
    opacity: 0.5;
    z-index: 100;
    transform: translateY(100%) translateX(50%) scale(0.5);
  }
  100% {
    opacity: 1;
    z-index: 100;
    transform: translateY(-50%) translateX(50%) scale(1);
  }
}

.DialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.DialogContent {
  min-width: 300px;
  background: white;
  padding: 30px;
  border-radius: 4px;
}


.record-animation {
  position: absolute;
  top: 0;
  left: 0;
  animation: record-animation 1s ease-in-out infinite alternate forwards;
}


@keyframes record-animation {
  0% {
   top: 0;
  }
  100% {
    top: 100%;
  }
}